@import "../../_global.scss";
@import "../../_constants.scss";

.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
  p {
    text-decoration: none;
    cursor: pointer;
    &.inactive {
      cursor: default;
    }
  }
  .active {
    font-size: 1.2rem;
  }
}