@import "../../_global.scss";
@import "../../_constants.scss";

.PreviewCard, .PreviewLoadingCard {
  border: 1px solid #EEE;
  display: block;
  max-width: 100%;
  padding: 1vw 1vh;
  overflow-y: scroll;
  margin-bottom: 3vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:context-menu;
  position: relative;
  word-break: break-all;

  .job-title {
    padding-right: 1vw;
  }
  .title {
    font-weight: 600;
  }
  .close-button {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    width: 1vw;
    height: 1vw;
    cursor:pointer;
  }
  &.CoverLetter {
    position: relative;
    &:after {
      content: "";
      background-color: #FF5C5C;
      position: absolute;
      shape-outside: circle(50%);
      z-index: -1;
      border-radius: 100%;
      right: 0.75rem;
      bottom: 0.75rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

.PreviewLoadingCard{
  cursor: wait;
  display: flex;
  justify-content: center;
  padding: 5%;
  height: 20%;
}