@import "../../_global.scss";
@import "../../_constants.scss";

.PreviewCard, .PreviewLoadingCard {
  display: block;
  border: 1px $light-grey solid;
  max-width: 100%;
  padding: 1vw 1vh;
  overflow-y: scroll;
  margin-bottom: 3vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  cursor:context-menu;

  .title {
    font-weight: 600;
  }
  &.CoverLetter {
    position: relative;
    &:before {
      content: "";
      background-color: #FF5C5C;
      position: absolute;
      shape-outside: circle(50%);
      z-index: -1;
      border-radius: 100%;
      right: 0.75rem;
      top: 0.75rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

.PreviewLoadingCard{
  cursor: wait;
  display: flex;
  justify-content: center;
  padding: 5%;
  height: 20%;
}