@import "../../_global.scss";
@import "../../_constants.scss";

.jobsViewer {
  height: 93vh;
  max-height: 93vh;
  display: flex;
  flex-direction: row;
  .left{
    width: 40%;
    padding: 1%;
    @media only screen and (max-width: 900px){
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
    .previews {
      .searchbar {
        position: sticky;
      }
      padding: 0 1vw;
      direction: ltr;
      height: 94%;
      @media only screen and (max-width: 900px){
        height: 93%;
      }
      overflow-y: scroll;
    }
  }
  .right{
    @media only screen and (max-width: 900px){
      display: none;
    }
    width: 60%;
    padding: 1%;
    height: 100%;
    overflow-y: scroll;
  }

}