@import "../../_global.scss";
@import "../../_constants.scss";

.jobsViewer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .left{
    width: 40%;
    padding: 1%;
    @media only screen and (max-width: 900px){
      width: 100%;
      padding: 0;
    }
    .previews {
      height: 90%;
      @media only screen and (max-width: 900px){
        height: 85%;
      }
      overflow-y: scroll;
    }
  }
  .right{
    @media only screen and (max-width: 900px){
      display: none;
    }
    width: 60%;
    padding: 1%;
    height: 90%;
    overflow-y: scroll;
  }

}