.filter {
  font-family: productSans, sans-serif;
  padding-top: 3%;
  // margin-left: 1%;
  // margin-bottom: 10%;
  // position: sticky;
  // display: block;
  // z-index: 9;
  //position: -webkit-sticky;
  padding-bottom: 2%;
  -webkit-box-shadow: 0 10px 22px rgba(0,0,0,.08);
  box-shadow: 0 10px 0px rgba(0,0,0,.08);
  .cities {
    margin-top:3%;
  }
  .countries{
    margin-top:5%;
  }
  .invisble {
    margin-top: -50px;
  }
}
