@import '../../variables.scss';
@import '../../elements.scss';

nav {
  box-sizing: border-box;
  font-size: 0.8rem;
  z-index: 21;
  width: 100%;
  display: block;
  flex: 1;

  .nav-wrapper {
    padding: 0 9vw
  }

  @media(min-width: 1280px) {
    &:hover {
      background-size: 100px;
      transform:  translateX(0);
    }
  }

  .right {
    text-align: right;

    a {
      color: #5F5D60;
      &:hover {
        color: $secondary;
        text-decoration: none
      }
      &.active {
        i {
          color: $theme;
        }
      }

      p {
        font-size: 1.1rem;
        font-weight: 400;
        margin: auto;
        display: inline;
      }

      i {
        padding: 1% 3%;
      }
    }
  }
}
