@import "../../_global.scss";
@import "../../_constants.scss";

.Card, .LoadingCard {
  display: block;
  max-width: 100%;
  padding: 4%;
  overflow-y: scroll;
  max-height: 100%;
  white-space: pre-line;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  scrollbar-width: none;
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  cursor:context-menu;
  .title {
    font-weight: 600;
  }
  .pad {
    margin-bottom: 1vh;
  }
}

.LoadingCard {
  cursor: wait;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}