@import 'variables.scss';
button, .button {
  background: linear-gradient(to bottom, lighten($theme, 10%), $theme);
  border-style: none;
  color: #FFF;
  padding: 0.5rem 1rem;
  font-weight: normal;
  margin: 0.5rem;
  border: 1px solid $theme;
  cursor: pointer;
  &:focus, &:active {
    outline: 0;
  }
  &:hover:not(:disabled) {
    text-decoration: none;
    background: linear-gradient(to bottom, lighten($theme, 20%), $theme);
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &.muted {
    border-color: #CCC;
    color: #222;
    font-weight: 700 !important;
    background: linear-gradient(to bottom, lighten(#CCC, 10%), #CCC);
    &:hover:not(:disabled) {
      background: linear-gradient(to bottom, lighten(#CCC, 20%), #CCC);
    }
  }
  border-radius: 5px;
}

table {
  margin: -0.5rem -0.5rem 0.5rem -0.5rem;
  text-align: left;
  width: 100%;
  td, th {
    padding: 0.5rem;
  }
}

a, .link {
  background: transparent;
  display: inline;
  padding: 0;
  margin: 0;
  color: $theme;
  font-weight: 700;
  border-style: none;
  text-decoration: none;
  &:hover:not(:disabled) {
    background: transparent;
    text-decoration: underline;
  }
}

label {
  font-weight: 700;
}

input[type="text"], input[type="password"] {
  padding: 0.5rem 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1rem;
  &:focus {
    outline: 0;
    border-bottom-color: $theme;
  }
}
.product-detail {
  width: $page-width;
  max-width: $page-width;
  flex: 1;
  padding: 5rem 1.5rem;
  >.header {
    display: flex;
    margin-bottom: 2rem;
    h1, h2, h3, .button {
      font-weight: 300;
      margin: 0 0 1rem 0;
    }
    >.main {
      flex: 1;
      >h1 {
        font-size: 2.4rem;
        margin: 0 0 1rem 0;
      }
    }
    >.right {
      text-align: right;
    }
  }
}
