@import './variables.scss';
@import './elements.scss';

.blur {
   color: transparent;
   text-shadow: 0 0 8px rgba(0,0,0,1);
   filter: blur(5px);
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: $font !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C0C0C0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}
